@model FooterModel
@using Nop.Web.Models.Common;

<div id="footer">
    <div class="boxhotline">
        @Html.Action("NewsletterBox", "Newsletter")
        <div class="hotline">Hotline: (08)7-305-8454 </div>
        <div class="link">
            Liên kết 
            <a href="#"><img src="/Themes/DefaultClean/Content/images/icon_f.png" align="absmiddle" /></a>
            <a href="#"><img src="/Themes/DefaultClean/Content/images/icon_t.png" align="absmiddle" /></a>
            <a href="#"><img src="/Themes/DefaultClean/Content/images/icon_c.png" align="absmiddle" /></a>
        </div>
    </div>
    <div class="boxlink">
        <div class="boxlink_left">
            <ul>
                <li>GADGET CITY
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Hệ thống cửa hàng</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Xem Bản đồ</a></li>
                    </ul>
                </li>
                <li>Mua sắm an toàn
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
                <li>Tài khoản của bạn
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
                <li>Hỗ trợ khách hàng
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="boxlink_right">
            Phương thức thanh toán
            <p>
                <img src="/Themes/DefaultClean/Content/images/paypal.png" />
            </p>
        </div>
    </div>
    <p align="center">
        Copyrigt 2013.  Bản quyền thuộc về GADGET CITY<br />
        Địa chỉ:  quận 1, TPHCM. Điện thoại: 08 0986538  Fax: 084 89898897 - Email: <a href="#">info@yahoo.com</a>
    </p>
</div>
