@model FooterModel
@using Nop.Web.Models.Common;

<div id="footer">
    <div class="boxhotline">
        @Html.Action("NewsletterBox", "Newsletter")
        <div class="hotline">Hotline: (84.8) 3911 7777</div>
        <div class="link">
            Thanh toán
            <img src="/Themes/DefaultClean/Content/images/paypal.png" align="absmiddle"/>
        </div>
    </div>
    <div class="boxlink" style="display:none">
        <div class="boxlink_left">
            <ul>
                <li>GADGET CITY
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Hệ thống cửa hàng</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Xem Bản đồ</a></li>
                    </ul>
                </li>
                <li>Mua sắm an toàn
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
                <li>Tài khoản của bạn
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
                <li>Hỗ trợ khách hàng
                    <ul>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                        <li><a href="#">Giới thiệu </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="boxlink_right">
            Phương thức thanh toán
            <p>
                <img src="/Themes/DefaultClean/Content/images/paypal.png" />
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-com">
        Copyright &copy; 2013. Bản quyền thuộc về GADGET CITY<br />
        Địa chỉ: Lầu 6, Tòa nhà PetroVietnam, số 1-5 Lê Duẩn, P.Bến Nghé, Q.1, TP.HCM. <br />Điện thoại: (84.8) 3911 7777 - Fax: (84.8) 3911 6789 - Email: <a href="mailto:lienhe@petroretail.vn">lienhe@petroretail.vn</a>
    </div>
</div>
